backend:
  name: git-gateway
  branch: main

publish_mode: editorial_workflow

media_folder: "/src/images"
public_folder: "/images"

collections:
  - name: config
    label: Site Configuration
    files:
      - name: config
        label: Site Configuration
        file: site-metadata.json
        fields:
          - widget: string
            name: title
            label: Title
            required: true
          - widget: string
            name: description
            label: Description
            required: true
  - name: projects
    label: Projects
    folder: /content/projects/
    create: true
    extension: md
    slug: '{{slug}}'
    file: '{{slug}}'
    fields:
      - widget: string
        name: title
        label: title of project
        required: true
      - widget: boolean
        name: new
        label: new
        default: false
      - widget: list
        name: tags
        label: tags
        default: ["graphic work"]
      - widget: markdown
        name: description
        label: Description
        required: true